@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 22px;
    margin-top: 60px;
    padding: 0;    
}

header {
    background-color: #009789;
    display: grid;
    grid-template-columns: 150px auto;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    max-width: 1580px;
    padding: 10px;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    max-width: 115px;
    max-height: 115px;
}

.topnav {

    overflow: hidden;
    max-width: 1560px;
}

.topnav a, a:visited {
    display: block;
    float: left;
    justify-self: end;
    align-self:flex-end;
    font-size: 1em;
    color: white;
    text-align: end;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    padding: 10px 20px;
    margin: 5px 0px 5px 5px;
    border-radius: 0;
}

.topnav a:hover {
    color: white;
    background: rgba(255, 204, 51, 0.9);
}

.topnav a.active {
    color: white;
    background: rgba(255, 204, 51, 0.9);
}

.topnav .icon {
    display: none;
}

h2 {
    margin: 0;
}

h2, h3, h4 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.5em;
}

h4 {
    color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
    margin-top: 20px;
}

#hero-Video {
    max-width: 1600px;
    max-height: 900px;
    position: relative;
    overflow: hidden;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.home-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 3.5em;
    text-align: center;
    margin: 5%;
}

.home-subtitle {
    color: white;
    text-align: center;
    margin: 5%;
}

.button-box {
    text-align: center;
    margin: 3%;
}

.book, .learn-more, .join {
    color: white;
    background: #FFCC33;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 1000;
    padding: 15px 30px;
    border-radius: 5px;
}

.book:hover, .learn-more:hover, .join:hover {
    background: #009789;
    font-size: 20px;
}

.page-name {
    grid-row: 2/3;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 4em;
    text-align: center;
    align-self: center;
    justify-self: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.contact {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 30px;
}

#background {
    background-color: #36A1D3;
    height: 725px;
    grid-column: 1/11;
    grid-row: 2/8;
    margin: 20px;
}

.over-title {
    grid-column: 1/4;
    margin: 20px 40px 20px 40px;
    color: Black;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.title {
    grid-column: 1/4;
    margin: 40px 40px 40px 40px;
    color: Black;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.under-title {
    grid-column: 1/4;
    margin: 0px 40px 60px 40px;
    color: Black;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.main h2 + h2 {
    margin-top:  20px;
    margin-bottom: 60px;
}

.card-img {
    border: 10px solid #023047;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    max-height: 90%;
    max-width: 70%;
    justify-self: center;
    align-self: center;
    margin: 20px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountain {
    width: 100%;
}

.full-name {
    color: black;
}

.intro {
    grid-column: 1/3;
    padding-left: 1em;
    margin: 20px;
}

.intro-contact{
    grid-column: 1/8;
    padding-left: .5em;
    margin: 50px 20px 50px 20px;
}

.technician {
    grid-column: 6/10;
    grid-row: 2/5;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.map {
    grid-column: 6/10;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: 80%;
}

.contact a {
    grid-column: 9/11;
    grid-row: 3/4;
    align-self: start;
    justify-self: center;
}

.msg {
    background-color: #023047;
    color: white;
    text-align: start;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 2/5;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.address {
    background-color: #023047;
    color: white;
    text-align: start;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 5/8;
}

.address p {
    font-size: .8em;
    padding-bottom: 15px;
}

.address p + p {
    margin-top: 0;
    padding-top: 0;
}

.gallery img{
margin: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 80%;
    height: 80%;
}

footer {
    background-color: #023047;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

footer h3 {
    color: white;
    font-size: 1em;
    padding: 20px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

footer a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
    padding: 15px;
}

footer p {
    color: white;
    text-align: center;
    font-size: .7em;
    text-decoration: none;
}

footer a:hover {
    color: white;
    background-color: #ffcc33;
}

footer h3 a:hover {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer .social a:hover {
    background-color: #023047;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    #hero2 {
        display: block;
        height: auto;
    }
    footer {
        flex-direction: column;
    }

    #hero {
        margin-top: 0;
    }

    #hero-Video {
        display: none;
    }
    
    #hero2 {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg2 {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .home-title2 {
        font-size: 25px;
        color: #6f7364;
    }
    .title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background, #background1, #background2, #background3, #background4 {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .idaho, .utah, .arizona {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .card-img2, .card-img3, .card-img4 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

@media screen and (max-width: 800px) {

    #hero {
        margin-top: 200px;
    }

    .home-title {
        margin-bottom: 60px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .title {
        margin-bottom: 20px;
    }

    .title, .over-title, .under-title {
        text-align: center;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {

    #hero {
        margin-top: 150px;
    }

    .home-title {
        margin-bottom: 60px;
    }

    main {
        display: block;
    }

    .title {
        margin-bottom: 0px;
    }

    .title, .over-title, .under-title {
        text-align: center;
    }

    .card-img, .stylist-name{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .gallery img{
        margin: 60px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: block;
        padding: 10px;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}