@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

body {
    background-color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;    
}

header {
    background-color: #009789;
    display: grid;
    grid-template-columns: 150px auto;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    max-width: 1600px;
    padding: 10px;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-evenly;

}

nav a, a:visited {
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    padding: 15px 5px;
}

nav a:hover {
    color: #023047;
    background: rgba(255, 204, 51, 0.9);
}

.home-title {
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 3em;
    margin-top: 10px;
}

.book, .join {
    color: #001412;
    background: #FFCC33;
    text-decoration: none;
    font-size: 18px;
    font-weight: 1000;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background: #ffcc33;
}

h2 {
    margin: 0;
}

h2, h3, h4 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.5em;
}

.page-name {
    grid-row: 2/3;
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 3em;
    align-self: start;
    justify-self: center;
}

h4 {
    color: white;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
    margin-top: 20px;
}

#hero-Video {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.contact {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 30px;
}

#background {
    background-color: #36A1D3;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.title {
    grid-column: 1/4;
    margin: 40px;
    color: Black;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

.main h2 + h2 {
    margin-top:  20px;
    margin-bottom: 60px;
}

.card-img {
    border: 10px solid #023047;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountain {
    width: 100%;
}

.full-name {
    color: black;
}

.intro {
    grid-column: 1/3;
    padding-left: 1em;
}

.intro-contact{
    grid-column: 1/8;
    padding-left: .5em;
}

.technician {
    grid-column: 6/10;
    grid-row: 2/5;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.contact a {
    grid-column: 9/11;
    grid-row: 3/4;
    align-self: start;
    justify-self: center;
}

.msg {
    background-color: #023047;
    color: white;
    text-align: start;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 2/5;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

.address {
    background-color: #023047;
    color: white;
    text-align: start;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 5/8;
}

.address p {
    font-size: .8em;
    padding-bottom: 15px;
}

.address p + p {
    margin-top: 0;
    padding-top: 0;
}

.gallery img{
    width: 80%;
    height: 80%;
}

footer {
    background-color: #023047;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
}

footer a:hover {
    color: navy;
    background-color: #ffcc33;
}

footer h3 a:hover {
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer .social a:hover {
    background-color: #023047;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    #hero2 {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }

    #hero-Video {
        display: none;
    }
    
    #hero2 {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg2 {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .home-title2 {
        font-size: 25px;
        color: #6f7364;
    }
    .title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background, #background1, #background2, #background3, #background4 {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .idaho, .utah, .arizona {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .card-img2, .card-img3, .card-img4 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}